h1 { font-size: 40px; font-weight: bold; }
h2 { font-size: 26px; font-weight: bold; }
h3 { font-size: 22px; font-weight: bold; }

/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #fff;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: rgba(15, 15, 15, .8);
  border: .05rem solid #333;
  font-size: 20px;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #333;
}

body {
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

.cover-container {
  max-width: 100%;
}


/*
 * Header
 */

.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.masthead-sub {
  display: inline-block;
  margin-bottom: 0;
  margin-left: 20px;
  padding-top: 19px;
  color: #999;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

/* 効いてるか確認する */
.nav-link a:hover{
  color: rgb(0, 0, 0);
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}

.nav-link{
  font-size: 25px;
}

.nav-color-red{
  color: rgb(240, 96, 96);
}

/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}


/*
 * Footer
 */
.mastfoot {
  color: rgba(255, 255, 255, .5);
}


@media (min-width: 767px) {
	.nav-pills {
		margin-top: 4px;
	}
}

@media (max-width: 767px) {
	.nav-pills {
		position: static;
		float: none;
		width: auto;
		margin-top: 0;
		background-color: transparent;
		border: 0;
		box-shadow: none;
	}
	.navbar-brand {
		font-size: 18px;
	}
	.navbar-collapse {
		padding: 0;
	}
	.nav-pills li {
		float: none;
	}
	.nav-pills > li > a {
		border-radius: 0;
	}
	.nav-pills > li + li {
		margin: 0;
	}
	.nav-pills > li.active > a {
		background-color: #226BAA;
	}
}

/* musicPage container */
.music-page-container {
  display: block;
  margin: auto;
}

.music-page-container > * {
  text-align: center;
}


.form-group {
  display: inline-block;
  width: 70%;
}

/* flex box */
.genre-box{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
  background: #DCDDDD;
  font-size: 20px;
  text-align: center;
}

.card-link {
  color: #333;
}


.card-title {
  color: rgb(255, 96, 96);
  font-size: 60px;
}

.card-a a{
  border-style: none;
}

.alert{
  text-shadow: none;
}

/* Lists container */
.list-container {
  display: flex;
  margin: 4px 0;
}

.flex-item {
  color: #fff;
}

.list-url{

}

.btn-del {
  width: 90%;
}

.btn-danger{
  background-color: crimson;
  color: white;
}

#wrapper {
  height: 220px;
  width: 100%;
  overflow-y: scroll;
  margin: auto;
}

/* Gradation Botan */

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

input.btn-border-gradient {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  border-radius: 0.5rem;
  color: #8fc31f;
  background: #111;
}


.btn-border-gradient-wrap {
  display: inline-block;
  margin-top: 20px;
  margin-left: 30px;
  padding: 0.2rem;
  border-radius: 0.5rem;
  background: -webkit-linear-gradient(left, deeppink, red);
  background: linear-gradient(to right, deeppink, red);
}

.btn-border-gradient-wrap:hover {
  background: -webkit-linear-gradient(right, deeppink, red);
  background: linear-gradient(to left, deeppink, red);
}
