{{ define "content" }}

<!DOCTYPE html>

<html>

    <div class="container">

        <body>
			<h1>YY-Music_Z</h1>
			<h2>アプリの説明</h2>
			<ul>
				<li>ジャンルごとに動画のurlを投稿できます。</li>
				<li>頑張って実装しましょう。</li>
			</ul>
            
            <!-- 埋め込みのテストです。 -->
			<h1> {{.a}} </h1>
			<h1> {{.b}} </h1>

        </body>
    </div>

</html>

{{ end }}