{{ define "content" }}

<!DOCTYPE html>

<html>
<main role="main" class="inner cover">
	<div class="card-deck genre-box row justify-content-center">
		<div class="col-lg-3 col-md-4 py-3">
			<a href="/music" class="card-a"></a>
				<div class="card">
					<div class="card-body">
					<h1 class="card-title">JPOP</h4>
					<h6 class="card-subtitle mb-2 text-muted">Japanese Pop</h6>
					<a href="/music" class="btn btn-secondary w-25" role="button">Enter</a>
					</div>
				</div>
			</a>
		</div>
		<div class="col-lg-3 col-md-4 py-3">
			<div class="card">
				<div class="card-body">
				  <h1 class="card-title">ROCK</h4>
				  <h6 class="card-subtitle mb-2 text-muted">Rock Music</h6>
				  <a href="/music" class="btn btn-secondary w-25" role="button">Enter</a>
				</div>
			</div>
		</div>
		<div class="col-lg-3 col-md-4 py-3">
			<div class="card">
				<div class="card-body">
				  <h1 class="card-title">EDM</h4>
				  <h6 class="card-subtitle mb-2 text-muted">Electronic Dance Music</h6>
				  <a href="/music" class="btn btn-secondary w-25" role="button">Enter</a>
				</div>
			</div>
		</div>
		<div class="col-lg-3 col-md-4 py-3">
			<div class="card">
				<div class="card-body">
				  <h1 class="card-title">HIP HOP</h4>
				  <h6 class="card-subtitle mb-2 text-muted">Hip Pop</h6>
				  <a href="/music" class="btn btn-secondary w-25" role="button">Enter</a>
				</div>
			</div>
		</div>
		<div class="col-lg-3 col-md-4 py-3">
			<div class="card">
				<div class="card-body">
				  <h1 class="card-title">CLASSIC</h4>
				  <h6 class="card-subtitle mb-2 text-muted">Classical Music</h6>
				  <a href="/music" class="btn btn-secondary w-25" role="button">Enter</a>
				</div>
			</div>
		</div>
		<div class="col-lg-3 col-md-4 py-3">
			<div class="card">
				<div class="card-body">
				  <h1 class="card-title">GAME</h4>
				  <h6 class="card-subtitle mb-2 text-muted">Game Music</h6>
				  <a href="/music" class="btn btn-secondary w-25" role="button">Enter</a>
				</div>
			</div>
		</div>
		<div class="col-lg-3 col-md-4 py-3">
			<div class="card">
				<div class="card-body">
				  <h1 class="card-title">VOCALOID</h4>
				  <h6 class="card-subtitle mb-2 text-muted">Vocaloid</h6>
				  <a href="/music" class="btn btn-secondary w-25" role="button">Enter</a>
				</div>
			</div>
		</div>
		<div class="col-lg-3 col-md-4 py-3">
			<div class="card">
				<div class="card-body">
				  <h1 class="card-title">ANIME</h4>
				  <h6 class="card-subtitle mb-2 text-muted">Anime Music</h6>
				  <a href="/music" class="btn btn-secondary w-25" role="button">Enter</a>
				</div>
			</div>
		</div>
		<div class="col-lg-3 col-md-4 py-3">
			<div class="card">
				<div class="card-body">
				  <h1 class="card-title">ALL</h4>
				  <h6 class="card-subtitle mb-2 text-muted">All Genre</h6>
				  <a href="/music" class="btn btn-secondary w-25" role="button">Enter</a>
				</div>
			</div>
		</div>
	</div>

</main>

</html>

{{ end }}