{{ define "content" }}

<!DOCTYPE html>

<html>

<style>



</style>

<body>

    <div class="music-page-container px-3">
        <div id="player"></div>
        <h3>URLを追加しよう！ 削除もできるよ！</h3>
        <div id="wrapper">
            <div id="list">
                
            </div>
        </div>
        <div class="row">
            <div class="form-group col-7">
                <input placeholder="Input Your Favorite Music!!!!!!!" id="text" type="text"
                    class="form-control form-control" >
            </div>

            <div class="btn-border-gradient-wrap col-3">
                <input type="button" class="btn btn-border-gradient" value="SEND!" onclick="SendButtonClick();" />
            </div>
        </div>
    </div>

    <div id="init_id"></div>
    <script type="text/javascript" src="/js/music_page.js"></script>

</body>

</html>

{{ end }}