{{ define "content" }}

<!DOCTYPE html>

<html>

<style>



</style>

<body>

    <div class="music-page-container px-3">
        <div id="player"></div>
        <h3>URLを追加しよう！ 削除もできるよ！</h3>
        <div id="wrapper">
            <div id="list">
                <div class="list-container">
                    <div class="flex-item list-url col-8">URL1</div>
                    <div class="flex-item col-3"><input class="btn btn-outline-dark btn-del btn-danger" type="button" value="×" /></div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <input placeholder="Input Your Favorite Music!!!!!!!" id="text" type="text"
                class="form-control form-control">
        </div>

        <div class="btn-border-gradient-wrap">
            <input type="button" class="btn btn-border-gradient" value="SEND!" onclick="SendButtonClick();" />
        </div>
    </div>

    <script type="text/javascript" src="js/melody1.js"></script>


</body>

</html>

{{ end }}