{{ define "content" }}

<!DOCTYPE html>

<html>

    <style>
    #chat {
        text-align: left;
        background: #f1f1f1;
        width: 500px;
        min-height: 300px;
        padding: 20px;
    }
    </style>

    <body>
        <!-- ToDo: centerタグの廃止 -->
        <center>
            <div id = "player"></div>
            <h3>Chat</h3>
            <pre id="chat"></pre>
            <input placeholder="Input Your Favorite Music!!!!!!!" id="text" type="text" class="form-control">
            <div class="btn-border-gradient-wrap">
                <input type="button" class="btn btn-border-gradient" value="SEND!" onclick="OnButtonClick();"/>
            </div>
        </center>
    </div>
        <script type="text/javascript" src="js/melody1.js"></script>
    </body>

</html>

{{ end }}