{{ define "content" }}

<!DOCTYPE html>

<html>

<style>



</style>

<body>

    <div class="music-page-container px-3">
        <div id="player"></div>
        <h3>URLを追加しよう！ 削除もできるよ！</h3>
        <div id="wrapper">
            <div id="list">
                
            </div>
        </div>

        <div class="form-group">
            <input placeholder="Input Your Favorite Music!!!!!!!" id="text" type="text"
                class="form-control form-control" >
        </div>

        <div class="btn-border-gradient-wrap">
            <input type="button" class="btn btn-border-gradient" value="SEND!" onclick="SendButtonClick();" />
        </div>
    </div>

    <script type="text/javascript" src="/js/vocaloid.js"></script>


</body>

</html>

{{ end }}